<header>
    <a href="/">
        <%- image_tag('images/logo_word_it-01.png', {class: 'logo'}) %>
    </a>
    <nav class="site-nav">
        <ul>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/quem-somos/">Quem somos</a></li>
            <li><a href="/contato/">Contato</a></li>
        </ul>
    </nav>
</header>