<div class="menu-lateral">
    <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Laboriosam voluptate sint eveniet repudiandae?</li>
        <li>Iusto quia eaque similique consequatur!</li>
    </ul>
    <% site.posts.forEach(function(post){ %>
        <li><a href="<%- url_for("archives/" + post.date.format("YYYY/MM")) %>"><%- post.date.format('MMMM') %></a></li>
    <% }) %>  
</div>