---
title: contato
date: 2018-04-22 19:02:11
---
<div class="contato-topo"></div>
<div class="contato">
    <h2>Deseja conversar, tirar dúvidas ou propor um projeto? Entre em contato com a gente!</h2>
    <p>Envie sua mensagem pelo formulário abaixo ou diretamente pelo nosso e-mail: <a href="mailto:contato@institutotrilhas.org.br">contato@institutotrilhas.org.br</a>. Responderemos o mais rápido possível!</p>
    <form action="" name="contato" method="POST" netlify>
        <p>
            <input type="text" name="name" placeholder="Nome">   
        </p>
        <p>
            <input type="email" name="email" placeholder="Email">
        </p>
        <p>
            <textarea name="message" placeholder="Mensagem"></textarea>
        </p>
        <p>
            <button type="submit">enviar</button>
        </p>
    </form>
</div>