---
title: quem-somos
date: 2018-04-22 19:01:58
---
<div class="sobre-topo"></div>
<div class="sobre-conteudo">
    <div class="quem-somos">
        <div class="qs-texto">
            <h2>quem somos</h2>
            <p>
                <strong>Somos</strong> uma organização sem fins lucrativos, de cunho multidisciplinar e que busca propiciar à sociedade ações de educação, formação e sensibilização no campo da educação socioambiental.
            </p>
            <p>
                Temos o <strong>propósito</strong> de fortalecer a relação entre a sociedade e o ambiente, estimular o desenvolvimento  humano  e  promover  o  direito  à  cidade,  à  cultura  e  à  arte,  buscando contribuir com um processo de desenvolvimento mais sustentável. 
            </p>
            <br>
            <p>
                Realizamos  nossas  atividades  de  acordo  com  as  necessidades  e  demandas  do  público envolvido.  
            </p>
        </div>
        <div class="qs-img">
            <img src="/images/logo_vert_IT_rgb.png" />
        </div>
    </div>
    <div class="atividades">
        <h2>conheça algumas de nossas atividades</h2>
        <div class="at-col">
            <ul>
                <li class="ats-ts">Trilhas Urbanas
                    <ul>
                        <li class="ats-ds">
                            São trilhas monitoradas interpretativas realizadas em parques e ruas da cidade. Durante o percurso são apresentados e discutidos elementos relevantes presentes na trajetória. A abordagem é sempre interdisciplinar, explorando questões diversas como: fauna, flora, história, geografia, serviços ecossistêmicos, saúde, artes e questões sociais.  
                        </li>
                    </ul>
                </li>
                <li class="ats-ts">Trilhas Teatrais
                    <ul>
                        <li class="ats-ds">
                            São trilhas monitoradas educativas, nas quais o público interage e é guiado por personagens lúdicos, históricos ou folclóricos.
                        </li>
                    </ul>
                </li>
                <li class="ats-ts">Planejamento de Trilhas
                    <ul>
                        <li class="ats-ds">
                            Desenvolvimento e implementação de trilhas interpretativas;
                        </li>
                        <li class="ats-ds">
                            Elaboração de material de apoio para trilha autoguiada;
                        </li>
                        <li class="ats-ds">
                            Estudos do meio para desenvolvimento de trilhas;
                        </li>
                        <li class="ats-ds">
                            Elaboração de cadernos de campo;
                        </li>
                        <li class="ats-ds">
                            Desenvolvimento de produtos como: folders, livretos, maquetes, exposições.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="at-col">
            <ul>
                <li class="ats-ts">Cursos de formação
                    <ul>
                        <li class="ats-ds">
                            Monitor ambiental;
                        </li>
                        <li class="ats-ds"> 
                            Educador ambiental;
                        </li>
                        <li class="ats-ds">
                            Meio ambiente e sustentabilidade para professores;
                        </li>
                        <li class="ats-ds">
                            Estudo do meio aplicado à educação ambiental.
                        </li>
                    </ul>
                </li>
                <li class="ats-ts">Oficinas e Palestras
                    <ul>
                        <li class="ats-ds">
                            PANCs (Plantas alimentícias não convencionais);
                        </li>
                        <li class="ats-ds">
                            Hortas educacionais;
                        </li>
                        <li class="ats-ds">
                            Sustentabilidade doméstica;
                        </li>
                        <li class="ats-ds">
                            Urban jungle (plantas em interiores);
                        </li>
                        <li class="ats-ds">
                            Análise de Serviços Ecossistêmicos;
                        </li>
                        <li class="ats-ds">
                            Práticas em educação ambiental;
                        </li>
                        <li class="ats-ds">
                            Elaboração de projetos educativos/sociais;
                        </li>
                        <li class="ats-ds">
                            Práticas tradicionais (desenvolvidas em parceria com populações tradicionais).
                        </li>
                    </ul>
                </li>
                <li class="ats-ts">Projetos de conexão entre arte e meio ambiente
                    <ul>
                        <li class="ats-ds">
                            Atividades mostrando e discutindo aspectos socioambientais trabalhados em obras artísticas;
                        </li>
                        <li class="ats-ds">
                            Oficinas de bonecas Abayomi que são confeccionadas a partir do reaproveitamento de materiais e trabalhando o resgate de memórias.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="trilheiros">
        <h2>nossos trilheiros</h2>
        <div class="trl-card">
            <h3>Virgínia Tristão</h3>
            <p>
                Educadora, Mestre em administração Pública e Governo pela FGV-SP, e doutora em Educação pela USP com ênfase em educação ambiental. Atuou durante 20 anos na Secretaria de Verde e Meio Ambiente da Prefeitura de São Paulo, onde coordenou projetos educacionais. Seu trabalho de maior destaque foi a criação e coordenação do Programa Trilhas Urbanas, dedicado a monitorias educativas nos parques urbanos, desenvolvendo e implementando trilhas interpretativas em áreas verdes ou urbanas, juntamente com a elaboração de material didático e a formação de educadores e monitores ambientais. Conhecedora da fauna e flora, destaca-se também por ser um baú de histórias, que podem emergir para reflexões profundas sobre o processo de transformação da cidade, ou de forma lúdica, revisitando personagens folclóricos pelas trilhas do Brasil, afinal, é uma exímia e famosa caçadora de sacis.
            </p>
        </div>
        <div class="trl-card">
            <h3>Guilherme Gaudereto</h3>
            <p>
                Gestor Ambiental e Mestre em Sustentabilidade com experiência em Educação, Licenciamento e Certificação Ambiental e docência; desenvolveu trabalhos acadêmicos na área de Governança Ambiental e de Serviços Ecossistêmicos.  Aventura-se também  em observação de pássaros, interpretação de nuvens como fenômeno meteorológico, aborda questões da dinâmica homem-natureza e é um apreciador de árvores, com um vasto conhecimento sobre elas.
            </p>
        </div>
        <div class="trl-card">
            <h3>Michele Toledo</h3>
            <p>
                Gestora Ambiental, Mestre em Ciências e doutoranda em Saúde Ambiental pela USP, possui experiência em Educação e temas como Saúde Pública, contaminação ambiental, riscos ambientais, água, gestão de resíduos, dentre outros. É professora universitária, e empresta ao instituto seu talento para abordar os impactos da contaminação ambiental na saúde humana, poluição ambiental e conhecimentos diversos sobre fauna e flora. Além de acadêmica e educadora, carrega sempre a câmera na mão para registrar as pessoas, plantas e bichos que aparecem nas trilhas.
            </p>
        </div>
        <div class="trl-card">
            <h3>Thamara Sauini</h3>
            <p>
                Cientista Ambiental e mestranda em Biologia Química, pela UNIFESP. Tem experiência na área de geociências, com trabalho sobre o sensoriamento remoto da atmosfera e suas partículas de aerossóis, e nas áreas de etnobotânica, etnofarmacologia e conservação, onde desenvolve pesquisas com a participação de comunidades tradicionais, para o desenvolvimento local, registro e fortalecimento de suas culturas. É educadora ambiental no Instituto Trilhas,  passando todo seu conhecimento acadêmico com alegria para o público, especialmente para as crianças.
            </p>
        </div>
    </div>
</div>