.blog-list {
    float: left;
    margin: 5vh 5vw 0 5vw;
    width: 65vw;
}

.blog-card {
    margin-bottom: 5vh;
    font-family: 'PT Sans', sans-serif;
    color: var(--cinza);
}

.card-texto h4 {
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 4vh;
}

.card-texto small{
    font-size: 1.5vh;
}

.card-texto p {
    margin-top: 3vh;
    line-height: 1.5;
    font-size: 2vh;
}

.card-texto button {
    width: 7vw;
    height: 4vh;
    box-shadow: none;
    border: 1px solid var(--cinza);
    background-color: var(--verde); 
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 2vh;
    color: var(--creme);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-texto button:hover{
    background-color: var(--cinza);
    border-color: var(--verde);
}

.card-thumb {
    width: 100%;
    height: 35vh;
    overflow: hidden;
    display: flex;
}
.card-thumb img {
    width: 100%;
    align-self: center;
}

/* POSTS */
.post-topo {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.post-topo img {
    width: 100%;
}
.topo-alt {
    box-sizing: border-box;
    width: 100%;
    padding-right: 2vw;
    display: grid;
    justify-items: end;
    margin-top: -2.5vh;
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 2px 2px black;
}
.post-conteudo a {
    text-decoration: none;
    font-weight: 700;
    color: var(--verde);
}
.post-conteudo {
    width: 60vw;
    margin: 7.5vh 5vw 5vh 5vw;
    font-family: 'PT Sans', sans-serif;
    color: rgb(120, 130, 150);
    
}

.post-texto img {
    width: 40vw;
    margin-top: 3vh;
    margin-bottom: -2vh;
    border: 1px solid var(--verde);
    border-radius: 2.5px;
    padding: 5px;
    justify-self: center;
}
.post-conteudo h1 {
    margin-bottom: 0;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 7vh;
}

.post-conteudo .data {
    margin: 0;
    margin-top: 0.5vh;
}

.post-texto {
    margin-top: 5vh;
    line-height: 1.5;
    font-size: 1.7vh;
    display: grid;
    grid-template-columns: 1fr;
}

.post-texto .cred {
    width: 100%;
    font-size: 1.2vh;
    margin-left: 37%;
}


@media (max-width: 768px){
    .blog-list{
        width: 89vw;
    }
    .blog-card button {
        width: 15vw;
    }
    .post-topo {
        height: 35vh;
    }
    .post-conteudo {
        width: 89vw;
    }
    .post-texto img {
        width: 100%;
    }
    .post-texto .cred {
        font-size: 1.5vh;
        margin-left: 22%;
    }
}
@media (max-width: 640px){ 
    .post-texto .cred {
        font-size: 1.5vh;
        margin-left: 15%;
    }
    .topo-alt small {
        font-size: 1.8vh;
    }
}
