@import url("https://fonts.googleapis.com/css?family=Antic+Slab|PT+Sans:400,400i,700,700i");
@import './css/cores.css';
@import './css/menu-lateral.css';
@import './css/blog.css';

body {
    margin: 0;
}

/* Header */

header {
    width: 100%;
    height: 11.8vh;
    background: rgb(235, 255, 235);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .logo {
     width: 13.02vw;
     margin-left: 5vw;
     pointer-events: none;
 }
 
 .site-nav ul {
     display: flex;
     flex-flow: row wrap;
     list-style: none;
     text-transform: uppercase;
     font-family: 'PT Sans', sans-serif;
     font-size: 1.7vh;
     margin: 1.8vh 19vw 0 0;
 }
 
 .site-nav li {
     margin-right: 2.2vw;
 }
 .site-nav ul li a {
     text-decoration: none;
     color: #788296;
     transition: color 0.3s ease; }
         header .site-nav ul li a:hover {
           color: #50af6e; }

/* Home */
.home-wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 82.25vh;
}

.grid {
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 50vh 32.25vh;
}

.grid .home-posts {
    grid-row: span 2;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
.hpimg {
    width: 100%;
    height: 40vh;
    display: grid;
    align-items: center;
    overflow: hidden;
}

.hpimg img {
    transform: translateY(-40vh);
}
@media (max-width: 768px) {
    .hpimg img {
        transform: translateY(0vh);
    }
}

.hpcontent {
    padding: 5vh 5vw;
}

.hpcontent small {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5vh;
    color: var(--cinza);
}
.hpcontent p:first-of-type {
    margin-top: 5vh;
}

.hpcontent button {
    margin-top: 1.7vh;
    width: 5vw;
    height: 3.5vh;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 1.8vh;
    color: rgb(235, 255, 235);
    border: 1px solid var(--cinza);
    background-color: rgb(80, 175, 110);
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.hpcontent button:hover {
    border-color: var(--verde);
    background-color: var(--cinza);
}
.home-posts h1{
    margin-bottom: 0;
    width: 100%;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 4vh;
    color: rgb(120, 130, 150);
}

.home-posts img {
    margin: 0;
    width: 70vw;
    align-self: center;
}

.home-posts p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.7vh;
    color:  rgb(120, 130, 150);
}

.home-posts a {
    text-decoration: none;
    color: rgb(80, 175, 110);
    cursor: pointer;
    transition: color 0.3s ease;
}

.topo-alt {
    z-index: 2;
}

.home-posts a:hover {
    color: rgb(200, 85, 100);
}

.grid .home-sobre {
    background: linear-gradient(rgba(120, 130, 150, 0.6 ), rgba(120, 130, 150, 0.6 )), url('images/aaron-burden-236415_filtro.jpg') center no-repeat;
    background-size: cover;
    padding: 4vh 4vw;
}

.grid .home-sobre p {
    line-height: 1.3;
    font-family: 'PT Sans', sans-serif;
    font-size: 3vh;
    color: rgb(235, 255, 235);
    text-align: justify;
    text-justify: inter-word;
}

.home-sobre button {
    margin-top: 2vh;
    width: 100%;
    height: 4.2vh;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 2vh;
    color: rgb(235, 255, 235);
    border: 1px solid rgb(235, 255, 235);
    background-color: rgb(80, 175, 110);
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-sobre button:hover {
    background-color: rgb(200, 85, 100);
}

.grid .home-contato {
    background-color:rgb(80, 175, 110);
    padding: 4vh 4vw;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    color: rgb(235, 255, 235);
}

.home-contato h4 {
    margin: 0;
    margin-top: 2vh;
    font-size: 4vh;
    font-weight: 400;
}

.home-contato p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.7vh;
}

.home-contato form {
    width: 100%;
    display: flex;
    margin-top: 4vh;
}

.home-contato form input {
    height: 4vh;
    width: 70%;
    padding-left: 1vw;
    border: 1px solid rgb(120, 130, 150);
    box-shadow: none;
    background-color: rgba(235, 255, 235, 0.6);
    font-family: 'PT Sans', sans-serif;
    font-size: 1.7vh;
}
.home-contato form input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid rgb(235, 255, 235);
}

.home-contato form input::placeholder {
    color: rgba(120, 130, 150, 0.6);
}

.home-contato form button {
    width: 30%;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 1.7vh;
    color: rgb(120, 130, 150);
    border: 1px solid rgb(120, 130, 150);
    box-shadow: none;
    background-color: rgb(235, 255, 235);
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-contato form button:hover {
    border: 1px solid rgb(235, 255, 235);
    background-color: rgb(200, 85, 100);
    color: rgb(235, 255, 235);
}

/* BLOG */



/* Quem Somos */
/* Topo */
.sobre-topo {
    content: ' ';
    margin: 0;
    width: 100%;
    height: 50vh;
    background: url('images/photo-1502079270135-811a632ae6ca.jpeg') center no-repeat;
    background-size: cover;
}
/* Conteúdo */
.sobre-conteudo {
    margin: 8vh 5vw;
}
/* Intro */
.quem-somos {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    font-family: 'PT Sans', sans-serif;
    color: rgb(120, 130, 150);
}

.qs-texto {
    margin: 0;
    width: 50vw;
}

.qs-texto h2 {
    margin: 0;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 7vh;
}

.qs-texto p:first-of-type {
    margin-top: 4vh;
}

.qs-texto p {
    font-size: 2.2vh;
    line-height: 1.5;
}

.qs-img {
    width: 39vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qs-img img {
    height: 35vh;
}
/* Atividades */
.atividades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    font-family: 'PT Sans', sans-serif;
    color: rgb(120, 130, 150);
}
.atividades h2 {
    margin-bottom: 0;
    grid-column: span 2;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 7vh;
}
.at-col {
    margin-top: 0;
    border: 1px solid rgb(80, 175, 110);
    border-radius: 0.5vh;
    padding: 2vh 2vw;
    background-color: rgb(235, 255, 235);
}

.at-col ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.ats-ts {
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 3.2vh;
    color: rgb(80, 175, 110);
    margin: 1.5vh 0;
}

.ats-ds {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.2vh;
    color: rgb(120, 130, 150);
    padding-left: 1.5vw;
}
/* Trilheiros */
.trilheiros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.2vw;
}

.trilheiros h2 {
    margin-bottom: 1vh;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 7vh;
    color: rgb(120, 130, 150);
    grid-column: span 4;
}

.trilheiros img {
    margin-top: 2vh;
    width: 10vw;
    border-radius: 50%;
    align-self: center;
}

.trl-card {
    display: flex;
    flex-flow: column wrap;
    margin-top: 1vh;
    background-color: rgb(80, 175, 110);
    border: 1px solid rgb(120, 130, 150);
    border-radius: 0.5vh;
    color: rgb(235, 255, 235);
    padding: 2vh 2vw;
}

.trl-card h3{
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 3.5vh;
    align-self: center;
}

.trl-card p {
    font-family: 'PT Sans', sans-serif;
}

/* Contato */
.contato-topo {
    margin: 0;
    width: 100%;
    height: 50vh;
    background: url('images/photo-contato.jpeg') center no-repeat;
    background-size: cover;
}

.contato {
    margin-top: 5vh;
    margin-left: 5vw;
    font-family: 'PT Sans', sans-serif;
    color:  rgb(120, 130, 150);
}

.contato h2 {
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 3.5vh;
}

.contato p {
    font-size: 2vh;
}

.contato a {
    text-decoration: none;
    color: rgb(80, 175, 110);
    transition: color 0.3s ease;
}
.contato a:hover {
    color: rgb(200, 85, 100);
    cursor: pointer;
}

.contato form {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.contato form input {
    width: 30vw;
    height: 2vh;
    border: none;
    border-bottom: 1px solid rgb(120, 130, 150);
    font: 400 1.7vh 'PT Sans', sans-serif;
    outline: none;
    margin-bottom: 3vh;
    color: rgb(120, 130, 150);
}

.contato form input:focus {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid rgb(80, 175, 110);
}

.contato form input::placeholder {
    color: rgba(120, 130, 150, 0.3);
}

.contato form textarea {
    width: 30vw;
    height: 30vh;
    border: none;
    border-bottom: 1px solid rgb(120, 130, 150);
    font: 400 1.7vh 'PT Sans', sans-serif;
    outline: none;
    color: rgb(120, 130, 150);
    resize: none;
    overflow: auto;
    box-sizing: border-box;
}

.contato form textarea:focus {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid rgb(80, 175, 110);
}

.contato form textarea::placeholder {
    color: rgba(120, 130, 150, 0.3);
}

.contato form button {
    width: 7vw;
    height: 4vh;
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    font-size: 2vh;
    color: rgb(120, 130, 150);
    background: none;
    box-shadow: none;
    border: 1px solid rgb(120, 130, 150);
    transition: all 0.3s ease;
    cursor: pointer;
}

.contato form button:hover {
    background-color: rgb(80, 175, 110);
    color: rgb(235, 255, 235);
}

/* Rodapé */
footer {
    margin: 0;
    width: 100%;
    height: 5.95vh;
    background-color: rgb(120, 130, 150);
    display: flex;
    align-items: center;
    position: relative;
}

footer p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1vh;
    color: rgb(235, 255, 235);
    margin-left: 5vw;
    
}

.hidden {
    display: none;
}

/* Media Queries */
@media (max-width:1400px) {
    .site-nav ul {
        font-size: 2vh;
    }
    footer p {
        font-size: 1.5vh;
    }
    .qs-img {
        width: 35vw;
    }
    .trl-card {
        grid-column: span 2;
    }
    .trl-card h3 {
        font-size: 5vh;
    }
    .trilheiros img {
        width: 20vw;   
    }
    .contato h2 {
        font-size: 4.2vh;
    }
    .contato p {
        font-size: 2.2vh;
    }
    .contato form input {
        font-size: 2vh;
        width: 40vw;
    }
    .contato form textarea {
        font-size: 2vh;
        width: 40vw;
    }
}

@media (max-width: 1024px) {
    .logo {
        width: 18vw;
    }
    .grid {
        grid-template-columns: 60vw 40vw;
    }
    .home-posts {
        grid-column: span 2;
    }
    .contato form input {
        width: 50vw;
    }
    .contato form textarea {
        width: 50vw;
    }
    .contato form button {
        width: 10vw;
        height: 6vh;
    }
}
@media (max-width: 768px) {
    .grid {
        display: flex;
        flex-flow: column wrap;
    }
    .logo {
        width: 30vw;
        margin-left: 10vw;
    }
    .site-nav ul {
        margin-right: 10vw;
    }
    .home-posts {
        display: block;
        box-sizing: border-box;
    }
    .hpcontent button {
        width: 12vw;
    }
    .home-posts img {
        width: 100%;
        height: unset;
    }
    .home-sobre {
        height: 30vh;
    }
    .home-contato {
        height: 20vh;
    }
    .sobre-conteudo {
        margin: 8vh 10vw;
    }
    .quem-somos {
        flex-flow: column wrap;
    }
    .qs-texto {
        width: 100%;
    }
    .qs-img {
        margin-top: 2vh;
        align-self: center;
    }
    .atividades h2 {
        content: "atividades";
    }
    .at-col {
        grid-column: span 2;
    }
    .trl-card {
        grid-column: span 4;
    }
    .trl-card p {
        font-size: 2vh;
    }
    .trilheiros img {
        width: 30vw;   
    }
    .contato {
        margin: 8vh 10vw;
    }
    .contato form input {
        width: 100%;
    }
    .contato form textarea {
        width: 100%;
    }
    .contato form button {
        width: 20vw;
        height: 6vh;
    }
}
@media (max-width: 640px) {
    .logo {
        width: 35vw;
    }
    .site-nav ul {
        margin-top: 1vh;
        font-size: 2.8vw;
    }
    .home-sobre {
        height: 36vh;
    }
    .home-posts h1 {
        margin-top: 0;
    }
    .home-posts p {
        font-size: 2vh;
    }
    .hpcontent button {
        font-size: 2.5vh;
        width: 25vw;
        height: 5vh;
    }
    .trilheiros img {
        width: 40vw;
    }
    .trl-card h3 {
        font-size: 4.5vh;
    }
    .trl-card p {
        font-size: 2.2vh;
    }
}